.page-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.menu-section h2 {
  font-size: 18px;
  margin-top: 32px;
  margin-bottom: 10px;
  color: #6b584c;
  border-left: 6px solid #e8e0d0;
  padding: 6px 10px;
}

.menu-section p {
  font-size: 15px;
  margin: 0 0 24px 0;
  padding-left: 14px;
  line-height: 1.7;
  color: #444;
}

.menu-section p::after {
  content: "";
  display: block;
  margin: 20px 0;
  height: 1px;
  background-color: #eee;
}

.menu-section {
  word-break: break-word;
}

@media (max-width: 767px) {
  .page-container{
    padding-top: 160px;
  }

  .menu-section h2 {
    font-size: 17px; /* 少し小さく */
    padding: 5px 8px; /* パディング調整 */
    border-left-width: 5px;
}
}